<div class="container nav-container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">DASHBOARD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logout" href="/logout">LOGOUT</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row justify-content-center">
        <button id='newPost' type="button" class="btn btn-danger col-3">New Post</button>
    </div>
    <h3>
        Your Posts:
    </h3>
    {{#each dashboard.posts}}
    <a class="btn btn-primary col-12 text-start dashboard-btn" href="/dashboard/edit/{{id}}" role="button"><span class="dashboard-title">{{title}}</span> | <span class="dashboard-date">{{format_date createdAt}}</span></a>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>