<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">DASHBOARD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logout" href="/logout">LOGOUT</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row justify-content-center">
        <button id='newPost' type="button" class="btn btn-primary col-3">New Post</button>
    </div>
    {{#each dashboard.posts}}
    <a class="btn btn-primary col-12" href="#" role="button">{{title}} {{format_date createdAt}}</a>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>