<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">DASHBOARD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link logout" href="/logout">LOGOUT</a>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row justify-content-center">
        <form id="post-form" class="col-8">
            <h2>Create New Post</h2>
            <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <input type="title" class="form-control" id="post-title">
            </div>
            <div class="mb-3">
                <label for="post-content" class="form-label">Content</label>
                <textarea class="form-control" id="post-content" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </div>
</div>

<script src="/js/newPost.js"></script>